{% extends 'base.html' %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <table>
                <tr>
                    <th>Nazwa kategorii</th>
                    <th>Budżet</th>
                    <th>Wydatki</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ budget.category }}</td>
                    <td>{{ budget.budget }}</td>
                    <td>{{ budget.expenses }}</td>
                    <td><a href="/budget/edit/{{ budget.id }}/">Edytuj</a></td>
                    <td><a href="/budget/delete/{{ budget.id }}/">Usuń</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}