{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <td>Data</td>
            <td>Kwota</td>
            <td>Opis</td>
            <td>Kategoria</td>
            <td>Konto</td>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.comment }}</td>
                {% if transaction.category == None %}
                <td>Usunięto</td>
                {% else %}
                <td>{{ transaction.category }}</td>
                {% endif %}
                {% if transaction.account == None %}
                <td>Usunięto</td>
                {% else %}
                <td>{{ transaction.account }}</td>
                {% endif %}
                <td><a href="/transaction/delete/{{ transaction.id }}/">Usuń</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url "add-transaction" %}">Nowa transakcja</a>
{% endblock %}